body {
  position: relative;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 3px;
  margin-bottom: 10px;
  padding-bottom: 3.5em;
  min-height: 100vh;
}

.p {
  padding: 0px 0px 15px 0px;
  text-align: center;
  font-size: 25px;
}

/* .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  font-size: 35px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 10px;
  background-color: var(--main-color);
  color: white;
} */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 15px;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: 12px;
  background-color: rgba(245, 245, 245, 0.356);
}

.ad {
  padding: 20px 0px 20px 0px;
  border: 2px solid var(--border-color);
}

.container p {
  font-size: 20px;
  text-align: center;
}

.container img {
  height: 150px;
  width: 50%;
  padding-top: 20px;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 30px;
  gap: 10px;
  font-size: 80px;
  border-top: solid 1px color var(--border-color);
}
.form button {
  border-radius: 5px;
}

.button {
  background-color: #578d57;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: 8px 12px;
  font-size: 20px;
}

.label {
  padding-top: 5px;
  gap: 10px;
  font-size: 22px;
}

.links {
  text-align: center;
  padding: 1em;
  margin-bottom: 8px;
  font-size: 22px;
  text-decoration: none;
  background-color: #74e17f;
  color: black;
  border-radius: 8px;
}

.links-a {
  text-align: center;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 22px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  background-color: #557ae1;
}

.span {
  background-color: #74e17fac;
  border-radius: 6px;
  padding: 2px 5px 0px 5px;
}
.select {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  font-size: 17px;
}
