<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel='stylesheet' href="/stylesheets/style.css">
  <link rel='stylesheet' href="/stylesheets/layout.css">
  <link rel='stylesheet' href="/stylesheets/navbar.css">
  <link rel='stylesheet' href="/stylesheets/form.css">
  <link rel="stylesheet" href="/stylesheets/footer.css" />
  <title>
    <%= title %>
  </title>
</head>

<body>

  <header class="layout-header">
    <% include navbar.ejs %>
  </header>

  <% include title.ejs %>
    <main class="layout-main-custom-background-image">
    </main>

    <% include footer.ejs %>