<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel='stylesheet' href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/login.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />

  <title>
    <%= title %>
  </title>
</head>

<body>
  <header class="layout-header">
    <% include navbar.ejs %>

  </header>

  <% include title.ejs %>
    <main class="layout-main">

      <form method="POST" class="container-form">
        <label class="form-label" for="inputEmail">Email</label>
        <input class="form-input" type="text" name="email" id="inputEmail" value="<%= email %>" />
        <label class="form-label" for="inputPassword">Password</label>
        <input class="form-input" type="password" name="password" id="inputPassword3" />


        <Button class="button" type="submit">
          Log in
        </Button>
        <p>
          <%= error %>
        </p>
      </form>
    </main>
    <% include footer.ejs %>