<nav class="navbar">
  <h1>NodePop</h1>
  <ul class="list">
    <li class="list-item"><a href="http://127.0.0.1:3001/filter">Fitrado y busqueda</a></li>
    <li class="list-item"><a href="http://127.1.1.0:3001/create">Crea un anuncio</a></li>
    <li class="list-item"><a href="http://127.1.1.0:3001/range/659">Rango de precios</a></li>
  </ul>
</nav>