<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel='stylesheet' href="/stylesheets/form.css">
  <link rel="stylesheet" href="/stylesheets/footer.css" />

  <title>
    <%= title %>
  </title>
</head>

<body>
  <% include title.ejs %>

    <div class="form">
      <h2>
        <%=__("available tags")%>
          <p class="links-a">
            <%= tags %>
          </p>
      </h2>
    </div>

    <div class="form">
      <ul>
        <li class="links"><a class="links" href="http://127.0.0.1:3001/filter">Fitrado y busqueda</a></li>
        <li class="links"><a class="links" href="http://127.1.1.0:3001/create">Crea un anuncio</a></li>
        <li class="links"><a class="links" href="http://127.1.1.0:3001">Home</a></li>
      </ul>
    </div>


</body>

</html>